{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ADEKGEO</title>
<meta name="description" charset="utf-8" content="The construction phase of our site is ongoing. Please, visit again later." />
<meta name="keywords" charset="utf-8" content="adekgeo" />
</head>
<!-- blog.muslu5.com adresinden indirilmiştir. -->
<body>
<p align="center"><img src="static/images/yapim-asamasi.jpg" width="800" height="500" alt="Yapım aşamasında" />
</p>
</body>
</html>
