{% load static %}

<html>
<head>
  <!-- META DATA -->
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ADEKGEO drill water">
    <meta name="author" content="https://www.adekgeo.com">

	<title>ADEKGEO</title>
  
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css"  type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="static/owl-carousel/owl.carousel.css" rel="stylesheet">
   <link href="static/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/style.css">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="static/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="static/js/html5shiv.js"></script>
        <script src="static/js/respond.min.js"></script>
    <![endif]-->
	
</head>

 <body>
<header>

	<!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top page-scroll navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navbar-shrink">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand  navbar-shrink" href="#">
					<img src="static/images/logo.png" class="hidden-xs" alt="">
					<div class="visible-xs">ADEKGEO</div>
				</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#testimonials">Testimonials</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#gallery">Gallery</a>
                    </li>
                    <!--<li>-->
                        <!--<a class="page-scroll" href="#subcribe">Subcribe</a>-->
                    <!--</li>-->
					<li>
                        <a class="page-scroll" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<!-- Navigation -->

	<!-- CAROUSEL -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		</ol>
	 
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="static/images/banner1.png" alt="...">
				<!-- Static Header -->
				<div class="header-text">
					<div class="col-md-12 text-center">
						<h1>Content Head </h1>
						<hr>
						<p>Content - Description </p>
						<a href="" class="btn btn-header">Learn More</a>
					</div>
				</div><!-- /header-text -->
			</div>
			<div class="item">
				<img src="static/images/banner2.png" alt="...">
				<!-- Static Header -->
				<div class="header-text">
					<div class="col-md-12 text-center">
						<h1>Content Head</h1>
						<hr>
						<p>Content - Description </p>
						<a href="" class="btn btn-header">Learn More</a>
					</div>
				</div><!-- /header-text -->
			</div>
		</div>
	 
		<!-- Controls -->
		<!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
			<!--<span class="glyphicon glyphicon-chevron-left"></span>-->
		<!--</a>-->
		<!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
			<!--<span class="glyphicon glyphicon-chevron-right"></span>-->
		<!--</a>-->
	</div> <!-- Carousel -->
	
</header>

	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<!--<section class="box-content box-1" id="about">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-sm-6">-->
						<!--<div class="box-item">-->
							<!--<div class="box-item-header">-->
								<!--<h3>Work 1</h3>-->
							<!--</div>-->
							<!--<a href="#"><img src="static/images/1.jpg" title="icon-name"></a>-->
							<!--<div class="box-item-content">-->
								<!--<a href="#">Description</a>-->
							<!--</div>-->
						<!--</div>-->
			 		<!--</div>-->
			 		<!--<div class="col-sm-6">-->
						<!--<div class="box-item">-->
							<!--<div class="box-item-header">-->
								<!--<h3>Work 2</h3>-->
							<!--</div>-->
							<!--<a href="#"><img src="static/images/2.jpg" title="icon-name"></a>-->
							<!--<div class="box-item-content">-->
								<!--<a href="#">Description</a>-->
							<!--</div>-->
						<!--</div>-->
			 		<!--</div>-->
				<!--</div>-->
				<!--<div class="row">-->
					<!--<div class="col-sm-6">-->
						<!--<div class="box-item">-->
							<!--<div class="box-item-header">-->
								<!--<h3>Work 3</h3>-->
							<!--</div>-->
							<!--<a href="#"><img src="static/images/3.jpg" title="icon-name"></a>-->
							<!--<div class="box-item-content">-->
								<!--<a href="#">Description</a>-->
							<!--</div>-->
						<!--</div>-->
			 		<!--</div>-->
					<!--<div class="col-sm-6">-->
						<!--<div class="box-item">-->
							<!--<div class="box-item-header">-->
								<!--<h3>Work 4</h3>-->
							<!--</div>-->
							<!--<a href="#"><img src="static/images/4.jpg" title="icon-name"></a>-->
							<!--<div class="box-item-content">-->
								<!--<a href="#">Description</a>-->
							<!--</div>-->
						<!--</div>-->
			 		<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</section>-->
		
		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2 box-style-1" id="services">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="service-box">
							<a href="#"><img src="static/images/service1.jpg" title="icon-name"></a>
							<h3>WATER RESOURCE DEVELOPMENT</h3>
							<p class="text-muted">Service Description</p>
							<a href="#" class="btn btn-skin">Read more</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service-box">
							<a href="#"><img src="static/images/service2.jpg" title="icon-name"></a>
							<h3>WATER BAREHOLE DRILLING</h3>
							<p class="text-muted">Service Description</p>
							<a href="#" class="btn btn-skin">Read more</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service-box">
							<a href="#"><img src="static/images/service3.jpg" title="icon-name"></a>
							<h3>SUPPLY AND INSTALLATION</h3>
							<p class="text-muted">Service Description</p>
							<a href="#" class="btn btn-skin">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 03 -->
		<section class="box-content box-3 box-style-2 text-center" id="news">
			<div class="container">
				<div class="row">
					<p>For Best Quality...</p>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 04 -->
		<section class="box-content box-4 box-style-3 text-center" id="testimonials">
			<div class="container">
				<div class="row heading">
	                <h2>Testimonials</h2>
				</div>
				<div class="row">
					<div class="testimonials">
						<div id="owl-test" class="owl-carousel">
							<div class="col-md-12">
								<div class="item box-item">
									<img src="static/images/unknow.png" class="img-circle" />
									<h5>Customer 1</h5>
									<p>We are so happy. Thank you AdekGeo.</p>
									<span>Georgia</span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="item box-item">
									<img src="static/images/unknow.png" class="img-circle" />
									<h5>Customer 2</h5>
									<p>We are so so happy. Thank you AdekGeo.</p>
									<span>Georgia</span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="item box-item">
									<img src="static/images/unknow.png" class="img-circle" />
									<h5>Customer 3</h5>
									<p>We are so so so happy. Thank you AdekGeo.</p>
									<span>Georgia</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 05 -->
		<section class="box-content box-5" id="gallery">
			<div class="container">
				<div class="row heading">
	                <h2 style="color: #367369;">GALLERY</h2>
				</div>
			</div>
			<div class="no-gutter">
				<div id="owl-brand" class="owl-carousel">
					<div class="item">
						<a href="#" class="portfolio-box">
							<img src="static/images/galeri1.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										Category
									</div>
									<div class="project-name">
										Project Name
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="#" class="portfolio-box">
							<img src= "static/images/galeri2.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										Category
									</div>
									<div class="project-name">
										Project Name
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="#" class="portfolio-box">
							<img src="static/images/galeri3.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										Category
									</div>
									<div class="project-name">
										Project Name
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="#" class="portfolio-box">
							<img src="static/images/galeri4.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										Category
									</div>
									<div class="project-name">
										Project Name
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="#" class="portfolio-box">
							<img src="static/images/galeri5.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										Category
									</div>
									<div class="project-name">
										Project Name
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<!-- FOOTER -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row"> 
					<div class="col-footer col-md-3">
						<h2 class="footer-title">About Us</h2>
						<div class="textwidget">Information about AdekGeo Company</div>
					</div> 
					<div class="col-footer col-md-3 widget_recent_entries">
						<h2 class="footer-title">Recent Posts</h2>
						<ul>
							<li><a href="#">Our New Work1</a></li>
							<li><a href="#">Our New Work2</a></li>
							<li><a href="#">Our New Work3</a></li>
							<li><a href="#">Our New Work4</a></li>
						</ul>
					</div>
					<div class="col-footer col-md-3">
						<h2 class="footer-title">CONTACT</h2>
						<div class="textwidget">ADEKGEO Company , Address Information, Georgia</div>
						<div class="textwidget">0111-111-111 E-mail: info@adekgeo.com</div>
					</div>

				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p>Copyright 2020 - Designed by LRTECHSOFT <a href="https://www.lrtechsoft.com">LRTECHSOFT</a></p>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
  
	<!-- jQuery -->
	<script type="text/javascript" src="static/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="static/js/agency.js"></script>

	<!-- Plugin JavaScript -->
	<script src="static/js/jquery.easing.min.js"></script>
	<script src="static/js/classie.js"></script>
	<script src="static/js/cbpAnimatedHeader.js"></script>
	
	<!-- carousel -->
	<script src="static/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-brand").owlCarousel({
        autoPlay: 3000,
        items : 3,
		itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,2],
		navigation: false,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>']
		
      });
	  $("#owl-test").owlCarousel({
        autoPlay: 3000,
        items : 1,
		itemsDesktop : [1199,1],
        itemsDesktopSmall : [979,2],
		navigation: true,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
		pagination: false
      });
    });
    </script>
	
	<!-- Google Map -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var wp_load_style = ["cherry-social.css","cherry-testimonials.css","contact-form-7.css","font-awesome.css","swiper.css","magnific-popup.css","cherry-shortcodes-all.css","cherry-charts.css","theme57758-grid-base.css","theme57758-grid-responsive.css","slick.css","cherryframework4-drop-downs.css","theme57758-main.css","theme57758-main-responsive.css","cherryframework4-add-ons.css","theme57758-style.css","theme26118_material_icon.css","cherry-google-fonts.css","booked-gf.css","booked-fontawesome.css","booked-tooltipster.css","booked-tooltipster-theme.css","booked-animations.css","booked-styles.css","booked-responsive.css","mpce-theme.css"];
	var wp_load_script = ["cherry-api.js","jquery.js","booked-spin-js.js","booked-spin-jquery.js","booked-tooltipster.js","booked-functions.js","comment-reply.js","magnific-popup.js","cherry-script.js","theme57758-script.js"];
	var cherry_ajax = "a180e8e82f";
	/* ]]> */
	</script>
	<script type="text/javascript" src="static/js/Gmap/cherry-api.min.js"></script>
	<script type="text/javascript" src="static/js/Gmap/forms-api.min.js"></script>
	<script type="text/javascript" src="static/js/Gmap/init.min.js"></script>
	<script type="text/javascript" src="static/js/Gmap/js"></script>
	<script type="text/javascript" src="static/js/Gmap/google-map.min.js"></script>
	
</body>
</html>